body{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Mukta Mahee', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    color: #000000;
}

.my{
    margin: 5px 0;
}
.my-10{
    margin: 10px 0;
}


.mx{
    margin: 0 5px;
}

form{
    text-align: center;
}

input{
    width: 250px;
    height: 5px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 15px;
    border: 1px solid #8f8f8f;
}

#btnMore{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: #e7e7e7;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

#btnSubmit{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background: white;
    border: 1px solid #8f8f8f;
}

#btnMore:hover{
    background: #d0d0d0;
}

#btnSubmit:hover{
    background: #d0d0d0;
    color: black;
    border: 1px solid rgba(143, 143, 143, 0);
}

#newAttributes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 315px;
    height: 150px;
    border-radius: 40px 40px 40px 0px;
    background: #e7e7e7;
    margin: 10px 0;
}

#btnShow{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background: white;
    border: 1px solid #8f8f8f;
}

#btnShow:hover{
    background: #d0d0d0;
    color: black;
    border: 1px solid rgba(143, 143, 143, 0);
}